body{
  margin: 0;
  background: url(img/fondo.jpg) no-repeat center;
  background-size: cover;
  font-family:  'Gloria Hallelujah', sans-serif;
  font-weight: bold;
  color: #fdfcfdf3;
  min-height: 100vh;
}
header{
  background: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
h1{
  margin: 0;
  color: rgb(238, 234, 234);
}
main{
  width: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 50vh;
}
#jugar{
  padding: 3px;
  border-radius: 5px;
  font-family: 'sono';
  border-color: #f4ebeb;
  box-shadow:-1px 2px 5px 2px #dfcaca;
  margin-top: 3rem;
}
#add_nueva_palabra {
  padding: 3px;
  border-radius: 5px;
  font-family: 'sono';
  border-color: #f4ebeb;
  box-shadow:-1px 2px 5px 2px #dfcaca;
  margin-top: 1rem;
}
#uno {
  border-radius: 10px;
  margin-left: 25rem;
 /* border-radius: 10px;
  margin-left: 25rem;
  height: 8rem;
  width: 32rem;
  font-size: 30px;
  font-family: 'Gloria Hallelujah', sans-serif;*/
}
.signo {
  display:contents ;
  /*display: grid;
  align-content: stretch;
  justify-content: center;
  font-size: 21px;
  margin-top: -1rem;
  margin-right: 30rem;
  margin-left: 7rem;*/
}
.caja{
  display: grid;
  align-items: start;
  margin-left: 30rem;
  margin-right: 30rem;
  display: contents;
 /* display: grid;
  align-items: start;
  margin-left: 21rem;*/
  
}
#Agregar{
  margin-left: 26rem;
  margin-right: 13rem;
  margin-top: 2rem;
  padding: 2px;
  border-radius: 5px;
  font-family: 'sono';
  font-size: 16px;
  border-color: #f4ebeb;
  box-shadow:-1px 2px 5px 2px #dfcaca;
}
.inicia-juego, .inicio{
  padding: 3px;
  border-radius: 5px;
  font-family: 'sono';
  border-color: #f4ebeb;
  box-shadow:-1px 2px 5px 2px #dfcaca;
 /* padding: 3px;
  margin-top: -1.5rem;
  margin-left: 20rem;
  margin-right: 87rem;
  border-radius: 5px;
  font-family: 'sono';
  font-size: 16px;
  border-color: #f4ebeb;
  box-shadow:-1px 2px 5px 2px #dfcaca;*/
}
.inicia-juego:hover{
  font-size: 15px;
}
.inicio:hover{
  font-size: 15px;
}
#Agregar:hover{
  font-size: 15px;
}
#imagen{
  width: 200px;
  margin-left: 120px;
  box-shadow:-1px 3px 15px 8px #ddd;
  border-radius: 9px;
  /*width: 350px;
  height: 450px;
  margin-left: 30rem;
  margin-top: 2px;
  margin-bottom: -1.5em;
  box-shadow:-1px 3px 15px 8px #ddd;
  border-radius: 9px;*/
}
#palabra_a_adivinar{
  height: 3em;
 /* margin-top: 1.5em;
  margin-left: 28em;*/
}
#palabra_a_adivinar span{
  vertical-align: bottom;
  font-size: 2em;
  border-bottom: 2px solid black;
  width: 29px;
  text-align: center;
  margin-right: 6px;
  display: inline-block;
}
#letras{
  margin-left: 9rem;
}
#letras button{
  margin-top: 7px;
  margin-right: 3px;
  border-style: double;
  border-radius: 3px;
}
#letras button:hover{
  font-size: 16px;
  border-color: #f4ebeb;
  box-shadow:-1px 2px 5px 2px #dfcaca;
}
#resultado{
  margin-left: 43rem;
  font-size: 2em;
  margin-top: -1rem;
  color: rgb(27, 223, 13);
}
@media screen and (max-width: 915px) {
  main{
    width: 90%;
    padding: 15px;
    flex-wrap: wrap;
    min-height: 50vh
  }
  #imagen{
    width: 100px;
    position: inherit;
  }
  #uno{
    margin-left: 0;
  }
  .caja{
    margin-left: 3rem;
  }
  .signo{
    margin-right: 9rem;
    margin-left: 3.5rem;
  
  }
}
